/* Desktop */
html{
    position: relative;
    width: 1440px;
    height: 4471px;
    background: #FFFFFF;
}

/* Rectangle1 */
img[src*="/images/Rectangle1.png"] {
    position: absolute;
    width: 1440px;
    height: 68px;
    left: 0px;
    top: 24px;
    opacity: 0.75;
    background: rgba(0, 0, 0, 0.69);
}

/* OUR services */
#our-services {
    list-style-type: none;
    position: absolute;
    width: 110px;
    height: 19px;
    left: 720px;
    top: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

/* OUR PRODUCTS */
#our-products {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    position: absolute;
    width: 119px;
    height: 19px;
    left: 885px;
    top: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

/* ABOUT US */
#about-us {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    position: absolute;
    width: 77px;
    height: 19px;
    left: 1059px;
    top: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

/* CONTACT US */
#contact-us {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    position: absolute;
    width: 97px;
    height: 19px;
    left: 1191px;
    top: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

/* bkg_1 1 */
img[src*="/images/bkg_1_1.png"] {
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 0px;
    top: 0px;
    background: url(/images/bkg_1_1.png);
}

/* logo_sublight */
img[src*="/images/logo_sublight.svg"] {
    position: absolute;
    width: 465px;
    height: 86px;
    left: 20px;
    top: 15px;
}

  /* OUR MISSION */
  .our-mission{
    position: absolute;
    width: 325px;
    height: 60px;
    left: 557px;
    top: 653px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 51px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  /* TAKE YOU TO THE TOP */
  .take-you-to-the-top{
      position: absolute;
    width: 829px;
    height: 93px;
    left: 305px;
    top: 713px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }